*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

h2{
    position: relative;
    font-size: 60px;
    color: rgb(136, 136, 136);
    -webkit-text-stroke: 0.3vw #ffffff;
    text-transform: uppercase;
}
h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    color: rgb(10, 218, 207);
    -webkit-text-stroke: 0vw #2488f7;
    border-right: 1px solid rgb(20, 207, 220);
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%{
        width: 0;
    }
    60%{
        width: 100%;
    }
}